<% if current_user.present? %>
  <h1><%= t('hello', user_name: current_user.user_name) %> </h1>
  <h2 style= 'background: #333 ; width: 30% '><%= link_to t('log_out'), destroy_user_session_path , method: :delete, class: 'dropdown-item' %></h2>
<% else %>
  <h2 style= 'background: #333 ; width: 30% '><%= link_to t('sign_in'), new_user_session_path , class: 'dropdown-item' %></h2>
<% end %>
<%= render 'shared/success' %>
